body{
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 10px solid maroon;
    background-color: lightgray;
    color: solid maroon;

}
article ul {
    text-align: left;
    background-color: white;
}

article h2 {
    margin: 0px;
    text-align: left;
    font-size: 125%;
    background-color: white;
}

article p {
    margin: 0px ;
    text-align: left;
    font-size: 150%;
    background-color: white;
}

ul {
    margin: 0px ;
    text-align: right;
    color: solid black;

}

li {
    display: inline;
    list-style-type: none;
    font-size: 20px;
    text-decoration-color: solid black;
}






section {
    margin: 0 auto;
    text-align: left;
    width: 100%;
    background-color: maroon;
}

h1 {
    text-align: center;
    line-height: 50px;
    text-decoration-color: black
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}


footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: lightgray;
    color:black;
}